<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

   <header class="navbar navbar-fixed-top navbar-inverse">
   <div class="container">
   <%= link_to( image_tag( "1.png", size: "40x40", alt: "Lab. SaaS", id: "logo"), bienvenido_index_path) %>
   <%= link_to "Lab.SaaS", bienvenido_index_path, id: "logo" %>
   <nav>
   <ul class="nav navbar-nav navbar-right">
   <li><%= link_to "Home", bienvenido_index_path %></li>
   <li><%= link_to "About", about_index_path %></li>
   <li><%= link_to "Help", help_index_path %></li>
   <li><%= link_to "adios", adios_index_path %></li>
   <li><%= link_to "Lista de vehiculos", vehiculos_path %></li>
   <% if user_signed_in? %>
              <li>
                <%= link_to "Usuario: " + current_user.email.split("@").first, edit_user_registration_path %>
              </li>
              <li>
                <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %>
              </li>
            <% else %>
              <li><%= link_to "Iniciar sesión", new_user_session_path %></li>
              <li><%= link_to "Registrarse", new_user_registration_path %></li>
            <% end %>
   </ul>
   </nav>
   </div>
   </header>
   <div class="container">
   <% if notice %>
   <p class="alert alert-success"><%= notice %></p>
   <% end %>
   <% if alert %>
   <p class="alert alert-danger"><%= alert %></p>
   <% end %>
   <%= yield %>
   </div>
  </body>

</html>
